* {
    padding: 0;
    margin: 0;
    text-align: center;

}

body {
    background-color: rgb(123, 123, 123);
    flex-direction: column;
}

header {
    background-color: aqua;
    padding: 15px;
    margin: 15px 15px;
    height: 100px;
}

main {
    display: flex;
    flex: 1;
    height: 500px;
}

main aside {
    background-color: red;
    flex: 1;
    margin: 15px 15px;
}

main article {
    background-color: aliceblue;
    margin: 15px 15px;
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main article div {
    display: flex;
    margin: 15px 15px;
    text-align: center;
}

main article img {
    min-width: 25px;
    min-height: 25px;
    padding: 10px 10px;
    text-align: center;
}

footer {
    display: flex;
    background-color: blue;   
    height: 100px;
    flex-direction: column;
    margin: 15px 15px;
}

main article img{
    text-align: center;
}